!!! 1.1
%html{html_attrs}
  %head
    %title Goonswarm Killboard - Skulls for the Skullthrone    
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag "dark"
    = javascript_include_tag :defaults
    
  %body
    #logo 
      
    #wrapper
      #header
        %h1 Goonfleet Killboard
        = navigation_menu
      #content
        = flash_notice
        = yield
      #footer
        = footer_copyright 